.contentContainer {
    background: #ffffff;
    position: relative;
    padding: 4rem;
    max-width: 500px;
    margin: 10rem auto;
}

@media (min-width: 889px) {
    .form {
        margin-top: 1rem;
    }
}

@media (max-width: 889px) {
    .form {
        margin-top: 1rem;
    }
}

.title {
    position: relative;
    width: 175px;
    height: 58px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 1rem;
}

.subtitle {
    position: relative;
    height: 19px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgb(121 95 95);
    margin-bottom: 2rem;
}

.name {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.inputstyle {
    display: block;
    border: white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background: #f0eeee;
    border-radius: 4px;
    height: 30px;
    width: 100%;
}

.square {
    width: 15px;
    height: 15px;
    left: 13%;
    top: 47%;
    background: #521a3f;
}

.rememberme {
    display: flex;
}

.rm {
    margin-left: 1rem;
}

.subsection {
    display: flex;
    justify-content: space-between;
}

.login_button {
    position: relative;
    padding: 8px 0;
    background: #521a3f;
    border-radius: 30px;
    border: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 2rem 0rem;
    color: #ffffff;
    width: 100%;
}

.register {
    position: relative;
    left: 25%;
}
