
.container {
    overflow: hidden;
    margin: 1rem;
    padding: 0.5rem 4rem;
}

.login_box{
    padding: 1rem 4rem;
    width:50%;
}

.login_text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #0C0D1C;
    margin-bottom: 3rem;
}

.label{
    display:block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
}

.inputstyle{
    display:block;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius:0.4rem;
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.submit_button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.8rem 4.3rem;
    background: #FFAA04;
    border-radius: 0.4rem;
    color: black;
    margin-top: 2.5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.inputstyle::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.7);
}
