@use "../../assets/styles/mixins.scss" as mixin;

.headerContainer {
    position: fixed;
    top: mixin.$header-space-top;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
}

.editorContainer {
    flex-grow: 1;
    max-width: 84.3rem;
}

.controlContainer {
    @include mixin.desktop {
        min-width: 40.4rem;
    }
    
}
