@use "../../assets/styles/mixins.scss" as mixin;

.editor {
}

.editorInnerWrapper {
    display: flex;
}

.blocksContainer {
    // max-width: 50rem;
    flex-grow: 1;
    background-color: mixin.$color-white;
}

.controls {
    // background-color: ;
    border: 1px solid mixin.$color-grey-medium;
    // width: 20rem;
    padding: 1rem;

    .controlWrapper {
        &:not(:last-child) {
            margin-bottom: 1.2rem;
            border-bottom: 1px solid mixin.$color-grey-medium;
            padding-bottom: 1rem;
        }

        .title {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .typeContainer {
            &:not(:last-child) {
                margin-bottom: 1rem;
                // margin-right: 1rem;
            }
        }

        .typeContainerRow {
            display: flex;
            justify-content: space-between;
        }

        .type {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 5px;
        }

        .select {
            font-size: 14px;
        }
    }
}
