@use "../../assets/styles/mixins.scss" as mixin;

.headerWrapper {
    margin-bottom: 3rem; 
}

.heading {
    font-size: 3.6rem;
    margin-bottom: 6rem;
    color: mixin.$color-black-medium;
}

.creiterionWrapper {
    margin-bottom: 6rem;
    // background-color: mixin.$color-white;
}

.criterion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    // background-color: lightblue;
    // padding: .8rem 1rem;
    
    .title {
        font-size: 2.4rem;
    }

    .button {
        background-color: mixin.$color-grey-medium;
        border: none;
        outline: none;
        padding: .6rem 1rem;
        cursor: pointer;
    }
}

.indicator {
    padding: 1.8rem;
    background-color: mixin.$color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:not(:last-child) {
        border-bottom: 1px solid mixin.$color-black;
    }

    .icons {
        
    }

    .icon {
        height: 2.8rem;
        display: inline-block;
        margin-right: .8rem;
    }

    .dateContainer {
        display: flex;
        align-items: center;
        border-right: 1px solid mixin.$color-black;
        margin-right: 3rem;
    }

    .date {
        font-size: 1.8rem;
        margin: 0 3rem;
    }

    .title {
        font-size: 1.8rem;
        flex-grow: 1;
    }
}