@use "../../assets/styles/mixins.scss" as mixin;

.headerWrapper {
    margin-top: mixin.$header-space-top;
    margin-bottom: 3rem;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 3.6rem;
    margin-bottom: 6rem;
    color: mixin.$color-black-medium;
    text-align: center;
}
