@use "../../assets/styles/mixins.scss" as mixin;

.sectionBar {
    margin-bottom: 3.5rem;
    background-color: mixin.$color-blue;
    display: flex;
    color: mixin.$color-white;
    padding: 1.5rem 1.8rem;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;

    .nameContainer {
        align-items: center;
        display: flex;
    }

    .name {
        font-size: 1.6rem;
    }
}

.inputContainer {
    margin-bottom: 3.5rem;
}

.buttonsContainer {
    display: flex;

    .button {
        margin-right: 1.2rem;
    }
}
