@use "../../assets/styles/mixins.scss" as mixin;

.container {
    // background-color: blue;
    // min-height: 78vh;
    max-height: 78vh;
    overflow-y: scroll;
    padding-right: 2rem;

    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.inputContainer {
}

.section {
    margin: 4.5rem 0;
}

.addDelButtonsContainer {
    margin-top: 3.5rem;
    display: flex;

    .button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
