@use "../../assets/styles/mixins.scss" as mixin;

.container {
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: mixin.$color-blue;
    color: mixin.$color-white;
    padding: 2.7rem 4.3rem;
    align-items: center;
}

.title {
    font-size: 3.2rem;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link {
    font-size: 1.8rem;
    font-weight: 700;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:not(:last-child) {
        margin-right: 3.5rem;
    }
}
