@use "../../assets/styles/mixins.scss" as mixin;

.container {
    color: mixin.$color-white;
    height: mixin.$header-height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: mixin.$extra-container-space * -1;
        top: 0;
        width: calc(100% + (mixin.$extra-container-space * 2));
        height: 100%;
        background-color: mixin.$color-blue;
        border-radius: 1.2rem;
        z-index: -1;
    }
}

.title {
    font-size: 3.2rem;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link {
    font-size: 1.8rem;
    font-weight: 700;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:not(:last-child) {
        margin-right: 3.5rem;
    }
}
