@use "./mixins.scss" as mixin;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    // padding: 0 1rem;
    margin: 0 auto;

    @include mixin.tablet {
        max-width: 72rem;
    }

    @include mixin.desktop {
        max-width: 151.1rem;
    }
}

.contentWrapper {
    margin-top: mixin.$header-height + (mixin.$header-space-top * 2);
}
