$color-orange: #ff3d00;
$color-grey-light: #e5e5e5;
$color-grey-medium: #c4c4c4;
$color-pink: #e0d3de61;
$color-black-medium: #000000ad;

$color-white: #fff;
$color-blue: #0c0d1c;
$color-black: #000;

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
