$color-orange: #ff3d00;
$color-grey-light: #e5e5e5;
$color-grey-medium: #c4c4c4;
$color-pink: #e0d3de61;
$color-black-medium: #000000ad;

$color-white: #fff;
$color-blue: #0c0d1c;
$color-black: #000;
$color-yellow: #FFAA04;

$extra-container-space: 4.3rem;
$header-height: 11.3rem;
$header-space-top: 3rem;

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}


:export {
    color_orange: $color-orange;
    color_grey_light: $color-grey-light;
    color_grey_medium: $color-grey-medium;
    color_pink: $color-pink;
    color_black_medium: $color-black-medium;

    color_white: $color-white;
    color_blue: $color-blue;
    color_black: $color-black;
    color_yellow: $color-yellow;

    extra_container_space: $extra-container-space;
    header_height: $header-height;
    header_space_top: $header-space-top;
}