@use "../../assets/styles/mixins.scss" as mixin;

.headerContainer {
    position: fixed;
    top: mixin.$header-space-top;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.contentContainer {
    display: flex;
}

.editorContainer {
    flex-grow: 1;
}

.controlContainer {
}
