.container {
    overflow: hidden;
    margin-top: 2rem;
    align-items: center;
}

.criterias{
    //width: 80%;
    padding: 1rem 4rem;
    margin: 4rem;
}

.heading{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
}

.title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.criterion{
    padding: 4rem 0rem;
    margin-bottom: 2rem;
}

.criteria_top{
    display: flex;
    justify-content: flex-start;
}

.criteria_title{
    flex-grow: 1;
    margin-right: 1.5rem;
}

.add_key_indicator{
    flex-grow: 1;
    align-items: flex-end;
}

.add_key_indicator_button{
    float:right;
    padding: 0.6rem 1.1rem;
    gap: 1rem;
    background: #FFAA04;
    border-radius: 0.4rem;
    color:black;
}

.indicator{
    background: #0C0D1C;
    border-radius: 0.4rem;
    height: 6rem;
    margin: 2rem 0rem;
    color: white;
}

.indicatorName{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2rem;
}

.indicator_container{
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link{
    margin-right: 3.5rem;
    margin-top: 0.5rem;
}

.indicator_heading{
    display: flex;
    justify-content: space-between;
}

