.headerContainer {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
}

.editorContainer {
    flex-grow: 1;
}

.controlContainer {
}
